<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743041057666-io8q8p0p269rj74u4s18v9avu86o8d9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743041057666-io8q8p0p269rj74u4s18v9avu86o8d9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDzNouVQUL0VKRKiJjN9qeqtvl8NKWdlxI</string>
	<key>GCM_SENDER_ID</key>
	<string>743041057666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.campusai</string>
	<key>PROJECT_ID</key>
	<string>campus-ai-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-ai-companion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743041057666:ios:d0139a4dc8ccc7163fc59b</string>
</dict>
</plist>